/*.sticky{
    position: fixed;
    top: 0;
}*/

.container {
    height: 200px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
  }
section{
  display:contents;
}
  .renderCourses{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .item {
    width: 10em;
  }

.cardBorder{

    padding: 20px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    outline: solid black;
}


h1{
    text-align: center;
    font-size: 42px;
}

h2{
    text-align: center;
    font-size: 32px;;
}
p{
    text-align: center;
    font-size: 20px;
}
.purchaseButton{
    text-align: center;
}
/*.nav-item-container{
  display:inline-block;
}
.navbar{
  display: -webkit-inline-box;
}*/
.navbar{
  width: 100%;
}
.course-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  width: 200px;
}
@media screen and (max-width: 992px) {

  /*.nav-item-container{
      flex-direction: row;
      display:inline-block;
  }
  .navbar-nav{
      display: flex;
      flex-direction: row;
  }
  .nav-item{
      margin-left: 10px;
  }*/
  .navbar {
    position: relative;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
  .navbar-nav{
      display: -webkit-inline-box;
  }
  .navbar-nav .nav-link {
      padding-left: 10px;
  }
  .nav-item-container{
      display:contents;
  }
}