html {
    scroll-behavior: smooth;
  }

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}



.container-align{
    text-align: center;
}
.container-item{
    padding-top: 20px;
    color:blue;
    font-size: 20px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
    border: 2.5px solid blue;
    padding: 25px;
    border-radius: 25px;

}

.log-in-button{
    background-color: lightblue;
    padding: 15px 25px;
    border-radius: 12px;
}

.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center{
    display: contents;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginContainer{
    margin: auto;
    top: 28%;
    left: 40%;
    width: 20%;
    position: absolute;
    outline: 8px ridge rgba(85, 233, 85, 0.6);
    border-radius: 2rem;
}
.inputStyle{
    padding: 5px;
    margin: 5px;
}
.formVar{
    padding-top: 7px;
}
.formVarButton{
    padding-top: 0px;  
}
.registerLoginRedirectButton{
    color: black;
    text-decoration: none;
}
.loginHeader{
    padding-top: 5px;
    color: rgba(18, 85, 18, 0.6);
}
.nav-item-container{
    display:inline-block;
}
.flask_error_class{
    background-color: rgb(240, 240, 133);
    width: 60%;
    left: 20%;
    position: relative;
    padding: 2px;

}

@media screen and (max-width: 1000px) {
    .loginContainer{
        left: 33%;
        top: 33%;
        width:33%;
    }
}
@media screen and (max-width: 992px) {
    .nav-item-container{
        flex-direction: row;
        display:inline-block;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .nav-item{
        margin-left: 10px;
    }
}
@media screen and (max-width: 610px) {
    .loginContainer {
        left: 25%;
        top: 25%;
        width: 50%;
    }
}
@media screen and (max-width: 469px) {
    .nav-item{
        margin-left: 7px;
        font-size: 12px;
    }
    .loginHeader{
        font-size: 20px;
    }
}
@media screen and (max-width: 405px) {
    .nav-item{
        margin-left: 5px;
        font-size: 10px;
    }
    .loginContainer {
        left: 10%;
        top: 30%;
        width: 80%;
    }
}