<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.cc_number }}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.expiration_date }}
            {{ form.security_code }}
            {{ form.purchasing }}
            {{ form.submit }}
        </form>
    </section>
</body>
</html>