<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/img/html-coding.png">
    <title>Coders Den</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="home">
    <section id="navbar" class="sticky">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand coding-den" href="#">Coding Den</a>
            <div class="navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#about">About</a>
                <a class="nav-item nav-link active" href="#instructors">Instructors</a>
                <a class="nav-item nav-link active" href="{{url_for('register')}}">Sign Up</a>
                <a class="nav-item nav-link active" href="{{url_for('login')}}">Sign In</a>
              </div>
            </div>
          </nav>
    </section>
    <section id="banner">
        <img src="{{url_for('static', filename='../static/img/banner.jpg')}}" class="banner">
    </section>
    <br><br><br>
    <section class="container-md about" id="about">
        <div>
            <h6>
                About Coders Den
            </h6>
            <br>
            <p>
                Welcome to Coders Den, where we empower future tech leaders through expert-led coding courses in Java, JavaScript, and Python. Our hands-on approach ensures practical, 
                real-world skills across all levels, from beginners to advanced learners. With our Java course, you'll build robust applications; our JavaScript course will enhance your web 
                development capabilities; and our Python course will introduce you to versatile programming techniques. Guided by experienced instructors, Coders Den is dedicated to providing 
                an engaging and comprehensive learning experience that prepares you for success in the tech world.
            </p>
        </div>
        <br><br>
        <div>
            <h6>
                Why should <b>YOU</b> should learn with Coders Den?
            </h6>
            <br>
            <p>
                At Coders Den, you'll gain access to expert-led courses in Java, JavaScript, and Python, designed to provide practical, real-world skills. 
                Our hands-on approach ensures you not only learn but apply your knowledge effectively, whether you're a beginner or looking to advance your skills. With experienced 
                instructors guiding you every step of the way, Coders Den offers an engaging and comprehensive learning experience that equips you for success in the tech industry.
            </p>
        </div>
        <br>
        <div class="center">
            <h6>Meet The Instructors</h6>
            <br>
                <div class="cardHolder" id="instructors">
                    <!--<div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/img/prof1.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Mia Collins</h5>
                        <p class="card-text">Specializes in cybersecurity policy, risk management, and coding best practices for secure software development. Known for her strategic insights and engaging lectures.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Masters in Information Systems, PhD in Cybersecurity</li>
                        </ul>
                    </div>
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/prof2.webp" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Liam Thompson</h5>
                    <p class="card-text">Focuses on cybersecurity data analytics, machine learning applications, and secure coding practices. Renowned for his hands-on approach and data-driven teaching style.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Masters in Data Science, PhD in Cybersecurity</li>

                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/prof3.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Noah Bennett</h5>
                    <p class="card-text">Expert in hardware security, embedded systems, and secure coding for hardware-related applications. Recognized for his innovative research and practical, lab-based instruction. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Masters in Computer Engineering, PhD in Information Security</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h6> SIGN UP NOW!!</h6>
            <br>
            <div class="signUpButtonDiv">
                <button class="signUpButton">
                    <a href="{{url_for('register')}}">Sign Up</a>
                </button>
            </div>-->
        </div>
    </section>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>

</body>
    <script src="./static/renderProfessors.js"></script>
</html>

