<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/img/html-coding.png">
    <title>Javascript Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/courses.css">
</head>
<body class="padding">

    <section id="navbar" class="sticky navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand coding-den" href="#">Coding Den</a>
            <div class="navbar-collapse nav-item-container" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </div>
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('userdash')}}">Dashboard<span class="sr-only">(current)</span></a>
              </div>
            </div>
          </nav>
    </section>

<section class="padding-container">
    <section class="container-md">
        <div>
            <h1>
                What is Javascript?
            </h1>
            <br>
            <p>
                JavaScript is a dynamic, high-level programming language that's essential for creating interactive and engaging web experiences. As a core technology of the World Wide Web, alongside HTML and CSS, JavaScript enables developers to add complex features to web pages, such as interactive forms, animations, and real-time updates. Originally developed by Netscape, JavaScript has evolved into a versatile language used for both client-side and server-side development. Its wide array of libraries and frameworks, like React, Angular, and Node.js, further enhance its capabilities, making it a cornerstone of modern web development and a key skill for developers.
            </p>
        </div>
    </section>
    <br>
    <section class="container-md">
        <div>
            <h1>
                Module 1: Printing in JavaScript
            </h1>
            <br>
            <p>
                Concept: Printing in JavaScript refers to outputting information to the web page or console. This is essential for displaying information, debugging, and providing feedback.
            </p>
            <br>
            <div>
                <ul>
                    <li>
                        console.log(): Prints text to the browser's console. Useful for debugging and logging information.
                    </li>
                    <li>
                        alert(): Displays a dialog box with a message. Useful for simple alerts and notifications.
                    </li>
                    <li>
                        document.write(): Writes text directly to the HTML document. Generally used for simple demonstrations or debugging.
                    </li>
                </ul>
            </div>
            <br>
            <div>
                <p class="code-background">
                    console.log("Hello, World!"); // Outputs to the console <br>
                    alert("Hello, World!"); // Displays a popup alert<br>
                    document.write("Hello, World!"); // Writes directly to the HTML document<br>
                </p>
            </div>
        </div>
    </section>

    <section class="container-md">
        <h1>
            Module 2: Different Data Types
        </h1>
        <br>
        <h1>
            Primitive Data Types
        </h1>
        <br>
        <p>
            Concept: Primitive data types represent simple values. JavaScript has several primitive types, including:
        </p>
        <div>
            <ul>
                <li>number: Represents both integer and floating-point numbers. (Example: let age = 30;)</li>
                <li>string: Represents a sequence of characters enclosed in single quotes, double quotes, or backticks (template literals). (Example: let name = "Alice";)</li>
                <li>boolean: Represents true or false values. (Example: let isJavaScriptFun = true;)</li>
                <li>undefined: Represents a variable that has been declared but not yet assigned a value. Example: let notDefined;</li>
                <li>null: Represents the intentional absence of any value. (Example: let emptyValue = null;)</li>
                <li>symbol (ES6): Represents a unique and immutable value. (Example: let uniqueSymbol = Symbol('description');)</li>
            </ul>
        </div>
        <br>
        <h1>
            Reference Data Types
        </h1>
        <br>
        <p>
            Concept: Reference data types refer to objects and arrays. They hold references to the data rather than the data itself.
        </p>
        <br>
        <div>
            <p> object: Represents a collection of key-value pairs. Objects can contain properties and methods.</p>
            <div>
                <p class="code-background">
                    let person = {<br>
                        name: "Alice",<br>
                        age: 30<br>
                    };
                </p>
            </div>
            <p>
                array: Represents a list-like collection of values. Arrays can hold values of different types and are zero-indexed.
            </p>
            <div>
                <p class="code-background">
                    let numbers = [1, 2, 3, 4, 5];<br>
                </p>
            </div>
            <br>
            <div>
                <p class="code-background">
                    let message = "Hello, JavaScript!";<br>
                    let numbers = [1, 2, 3, 4, 5];<br>
                    let person = {<br>
                    name: "Alice",<br>
                    age: 30<br>
                    };
                    
                    console.log(message); // Outputs: Hello, JavaScript!<br>
                    console.log(numbers); // Outputs: [1, 2, 3, 4, 5]<br>
                    console.log(person); // Outputs: { name: 'Alice', age: 30 }<br>
                </p>
            </div>
        </div>
    </section>
    <br>
    <section class="container-md">
        <h1>
            Module 3: Conditionals
        </h1>
        <br>
        <p>
            Concept: Conditionals allow your code to make decisions based on certain conditions. They execute different code blocks depending on whether a condition is true or false.
        </p>
        <div>
            <p>
                if Statement: Executes a block of code if the specified condition is true.
            </p>
            <p class="code-background">
                if (condition) {
                    // Code to execute if condition is true
                  }
            </p>
        </div>
        <br>
        <div>
            <p>
                else if Statement: Follows an if statement to test additional conditions.
            </p>
            <p class="code-background">
                if (condition1) {<br>
                    // Code if condition1 is true<br>
                  } else if (condition2) {<br>
                    // Code if condition2 is true<br>
                  }
            </p>
        </div>
        <br>
        <div>
            <p>
                else Statement: Executes a block of code if all preceding conditions are false.
            </p>
            <p class="code-background">
                if (condition) {<br>
                    // Code if condition is true<br>
                  } else {<br>
                    // Code if condition is false<br>
                  }
            </p>
        </div>
        <div>
            <p>
                switch Statement: Allows for the selection of one of many code blocks to execute based on the value of a variable.
            </p>
            <p class="code-background">
                switch (variable) {<br>
                    case value1:<br>
                      // Code if variable equals value1<br>
                      break;<br>
                    case value2:<br>
                      // Code if variable equals value2<br>
                      break;<br>
                    default:<br>
                      // Code if variable does not match any case<br>
                  }
            </p>
        </div>
        <br><br>
        <div>
            <p class="code-background">
                let day = 3;<br>

                switch (day) {<br>
                  case 1:<br>
                    console.log("Monday");<br>
                    break;<br>
                  case 2:<br>
                    console.log("Tuesday");<br>
                    break;<br>
                  case 3:<br>
                    console.log("Wednesday");<br>
                    break;<br>
                  default:<br>
                    console.log("Invalid day");<br>
                    break;<br>
                }
            </p>
            <br>
            <p>
                This code will output "Wednesday" because day is equal to 3.
            </p>
        </div>
    </section>
    <br>
    <section class="container-md">
        <h1>
            Module 4: Loops
        </h1>
        <br>
        <div>
            <p>Concept: Loops allow you to execute a block of code repeatedly as long as a specified condition is true. They are used for tasks that require repetition.</p>
            <div>
                <p>for Loop: Ideal when the number of iterations is known beforehand. It includes initialization, condition, and iteration expression.                </p>
                <p class="code-background">
                    for (initialization; condition; iteration) {<br>
                        // Code to execute on each iteration<br>
                      }<br>
                </p>
            </div>
            <div>
                <p>while Loop: Executes a block of code as long as the specified condition is true. Suitable when the number of iterations is not known in advance.                </p>
                <p class="code-background">
                    while (condition) {<br>
                        // Code to execute while condition is true<br>
                      }<br>
                </p>
            </div>
            <div>
                <p>do-while Loop: Similar to while loop, but guarantees that the code block is executed at least once before checking the condition.                </p>
                <p class="code-background">
                    do {<br>
                        // Code to execute<br>
                      } while (condition);<br>
                </p>
            </div>
        </div>
        <div>
            <p class="code-background">
                for (let i = 1; i  &lt;= 5; i++) {<br>
                    console.log("Iteration: " + i);<br>
                  }<br>
                  
                  let i = 1;<br>
                  while (i  &lt;= 5) {<br>
                    console.log("Iteration: " + i);<br>
                    i++;<br>
                  }<br>
                  
                  let j = 1;<br>
                  do {<br>
                    console.log("Iteration: " + j);<br>
                    j++;<br>
                  } while (j  &lt;= 5);<br>
            </p>
            <p>
                The for loop and while loop will output numbers from 1 to 5. The do-while loop will do the same but guarantees at least one iteration.
            </p>
        </div>
    </section>
        <br><br><br>
        <section class="container-md">
            <div>
                <h1>
                    Summary of Key Points
                </h1>
                <br>
                <ul>
                    <li>Printing: Output text to the console or web page using console.log(), alert(), and document.write().</li>
                    <li>Data Types: Use primitive types (e.g., number, string) and reference types (e.g., object, array).</li>
                    <li>Conditionals: Implement decision-making with if, else if, else, and switch statements.</li>
                    <li>Loops: Repeat code execution using for, while, and do-while loops.</li>
                </ul>
            </div>
        </section>
</section>
    <br><br><br>
    <br><br><br>
    <br><br><br>
</body>
</html>