<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <section>
        <div class="container container-align">
            <div class="container-item">
                <label for="email"><b>Enter Username or Email</b></label>
                <input type="text" placeholder="Enter Username or Email" name="email" required>
            </div>

            <div class="container-item">
                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="container-item">
                <button class="log-in-button">Log In</button>
            </div>
        </div>
    </section>
</body>
</html>