{% extends "navbar.html" %}
    {% block content %}
    <section>
        <form method="POST" action="">
            
                <div class="loginContainer">
                    <div class="center">
                        <h1 class="loginHeader">
                            Please <br>
                            Login
                        </h1>
                        {{ form.hidden_tag() }}
                        <br>
                        <div class="formVar">
                            {{ form.username(class="inputStyle") }}
                        </div>
                        
                        <br>
                        <div class="formVar">
                            {{ form.password(class="inputStyle")}}
                        </div>
                        <div  class="formVar">
                            {{ form.submit(class="btn btn-outline-success ml-1 mt-5 inputStyle") }}
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </form>
    </section>
{%endblock%}