<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../static/css/dash.css">
    <script type="text/javascript" src="../static/variableStorage.js" defer></script>

    <title>Document</title>
</head>
<body class="body">
    <section id="navbar" class="sticky navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand coding-den" href="#">Coding Den</a>
            <div class="navbar-collapse nav-item-container" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              </div>
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{url_for('logout')}}">Log Out <span class="sr-only">(current)</span></a>
              </div>
            </div>
          </nav>
    </section>

    <section>
      <div class="cardBorder item" id="sendInformation">
        <div  class="course-img">
          <img height="200px"  src="{{ url_for('static', filename='img/pythonImage.jpg') }}">
        </div>
        <div>
          <h1>Python Course</h1>
          <h2>Taught By Mia Collins</h2>
          <p>Unlock the power of Python with our comprehensive Python programming course. Designed for both beginners and those with some programming experience, this course will guide you through the essentials of Python, one of the most popular and versatile programming languages in the world.</p>
        </div>
        
          {% if ownsPython %}
          <div class="purchaseButton">
            <a href="{{ url_for('pythoncourse') }}">
              <button type="submit">
                  Learn
              </button>
            </a>
          </div>
          {% else %}
          <div class="purchaseButton">
            <a href="{{ url_for('checkout', purchasing='python') }}">
              <button type="submit">
                  Purchase
              </button>
            </a>
          </div> 
          {% endif %}

    </div>
    <br><br><br>
    <div class="cardBorder item" id="sendInformation">
      <div class="course-img">
        <img height="200px" class="course-img" src="{{ url_for('static', filename='img/javaImage.png') }}">
      </div>
      <div>
        <h1>Java Course</h1>
        <h2>Taugh By Liam Thompson</h2>
        <p>Dive into the world of Java with this comprehensive course designed for beginners and those looking to solidify their programming foundation. Java is a versatile and powerful language used in everything from mobile apps to enterprise-level solutions, and this course will equip you with the skills to start your journey in software development.        </p>
      </div>
      
        {% if ownsJava %}
        <div class="purchaseButton">
          <a href="{{ url_for('javacourse') }}">
            <button type="submit">
                Learn
            </button>
          </a>
        </div>
        {% else %}
        <div class="purchaseButton">
          <a href="{{ url_for('checkout', purchasing='java') }}">
            <button type="submit">
                Purchase
            </button>
          </a>
        </div> 
        {% endif %}
    </div>
    <br>
    <div class="cardBorder item" id="sendInformation">
      <div class="course-img">
        <img height="200px" width="200px" class="course-img" src="{{ url_for('static', filename='img/javascriptImage.png') }}">
      </div>
      <div>
        <h1>Javascript Course</h1>
        <h2>Taught By Noah Bennett</h2>
        <p>    Unlock the full potential of web development with our comprehensive JavaScript course. Whether you’re just starting out or looking to refine your skills, this course is designed to guide you through the fundamentals to advanced concepts of JavaScript, the language that powers dynamic and interactive websites.        </p>
      </div>
      
        {% if ownsJavascript %}
        <div class="purchaseButton">
          <a href="{{ url_for('javascriptcourse') }}">
            <button type="submit">
                Learn
            </button>
          </a>
        </div>
        {% else %}
        <div class="purchaseButton">
          <a href="{{ url_for('checkout', purchasing='javascript') }}">
            <button type="submit">
                Purchase
            </button>
          </a>
        </div> 
        {% endif %}

  </div>
</section>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <!--<script src="{{url_for('static', filename='../static/app.js')}}" type="module"></script> -->
    <!--<script src="{{url_for('static', filename='../static/app.js')}}" type="module"></script>
    <script type="text/javascript">
      render_data.innerHTML = ``;
      const user_id = "{{ user_id }}";
      var purchasing = '';
      const url = `/get_data/${user_id}`
      
      function getPurchasing(key){
        if (key === 'pythonOwner'){
          return 'python';
        }
        else if(key === 'javascriptOwner'){
          return 'javascript';
        }
        else{
          return 'java';
        }
      }

      function getCourse(key){
        if(key === 'ownsJava'){
          return 'javacourse';
        }
        else if(key === 'ownsJavascript'){
          return 'javascriptcourse';
        }
        else if(key === "ownsPython"){
          return 'pythoncourse';
        }
        else{
          console.log("error");
        }
      }


      async function fetchAndRenderData() {
        try {
          const response = await fetch(url);
          if(!response.ok){
            throw new Error('Network response was not ok');
          }
          data = await response.json();  // Convert response to JSON
          console.log(1);
          console.log(data);
          console.log(2);

        } catch (error) {
            console.error('Error:', error);
        }
        console.log(data);
        // return data;

        let user_url;
        let buttonText;
        let count = 0;
          for(const [key, values] of Object.entries(data)){
            count += 1;
            
            if(values){
              // userdash/${user_id}
              purchasing = getCourse(key);
              user_url = `/userdash/${user_id}/${purchasing}`;
              buttonText = 'Learn';
            }
            else{
              user_url = `/checkout`;
              buttonText = 'Purchase';
            }
            render_data.innerHTML += 
                `<div class="cardBorder item" id="sendInformation">
                    <div>
                      <img src="{{ url_for('static', filename='img/prof1.jpg') }}">
                    </div>
                    <div>
                      <h1>test</h1>
                      <h2>test</h2>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias esse culpa rerum, voluptate nisi ea dignissimos consequuntur ipsam ratione iusto nobis voluptatum maxime. Repudiandae, illum voluptate? Dolores, culpa accusantium asperiores ex, sint quia, nam ad animi accusamus ipsa molestiae quidem!</p>
                    </div>
                    <div class="purchaseButton">
                      <a href="${user_url}" onclick="storeVariable(${purchasing})">
                        <button type="submit">
                            ${buttonText}
                        </button>
                      </a>
                    </div>
                </div>`


      }
    }
    /**/


      /*function renderContent(renderData){
          console.log(renderData);
          data = Object.entries(renderData);
          console.log(data);
          let url;
          let buttonText;

          for(const [key, values] of data){
            if(key == 'javascriptOwner' )
            for(const [key, value] of data){
              console.log(4);
              console.log(key + ' : ' + value + '1');
              console.log(5);
              if(value === 'True'){
                url = `${user_id}/${getCourse(key)}`;
                buttonText = 'Learn';
              }
              else{
                url = `shoppingcart`;
                buttonText = 'Purchase';
              }
              console.log(key + ':' + value)

      }
    }*/
      //console.log('fetchData');
      // let renderData = fetchData();
      // console.log('renderData');
      function storeVariable(value) {
    // Store the variable in local storage
        localStorage.setItem('purchasing', value);
      }
      fetchAndRenderData();
  </script>-->
</body>
</html>